body {
  padding-top: 60px;
  background-color: #EAEAEA;
  overflow-x: hidden;
}


.breadcrumb {
  background-color: #35454a;
}

.breadcrumb a {
  color: #fff;
  text-decoration: none;
}




h1 {
  color: #35424a;
}
/* To make the container cohesive with the carousel on the index page*/
.container-fluid {
  padding: 0;
}


/*--Navbar--*/

.navbar {
  background-color: #35454a;

}

.navbar-brand {
  color: #a9a9a9;
  font-size: 25px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.dropdown a {
  color: #35454a;
}


/*--Carousel--*/

.carousel-item {
  height: 98vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-caption {
  font-size: 25px;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 50%;
  margin: auto;
}

.portfolio-item {
  margin-bottom: 30px;
}

.page-title {
  padding-top: 30px;
  padding-bottom: 25px;
  color: #35454a;
  border-top: 30px solid
}

.project-title {
  padding-top: 50px;
  padding-bottom: 20px;
  color: #35454a;
}
/* Targets the images on the cards */
.project-card:hover {
  transform: scale(1.01);
  opacity: 0.9;
}

/*-Home page contact form--*/

.container-contactform {
/* Not a bootstrap form - needed margin auto to make responsive*/
  padding: 20px;
  color: #fff;
  background: #35454a;
  margin: auto;
}

.container-contactform h2 {
  padding-bottom: 15px;
  text-align: center;
}

.container-contactform form {
  margin: auto;

}

.container-contactform input[type=email] {
  height: 35px;
  width: 70%;
}

.button-1 {
  height: 32px;
  width: 100px;
  background: #a9a9a9;
  border: none;
  color: #fff;
  margin: auto;
}

.button-1:hover {
  color: #ffffff !important;
  background: #b8b8f4;
  border-color: #b8b8f4 !important;
  transition: all 0.5s ease 0s;
}




/*---Project Cards--*/

.card-title a {
  color: #a9a9a9;
  text-decoration: none;
}

.card-title a:hover {

  color: #fff;
  font-weight: bold;
}



/*-- About Page Styling --*/

.aboutlanding {
  padding-bottom: 50px;
}

.about-context {
  color: #35424a;
}

.safetycard {
  padding-top: 25px;
  padding-bottom: 25px;
}

.card-body {
  background-color: #35424a;
  color: #fff;
}



/*--Contact Page--*/

.index-form {
  color: #fff;
  background-color: #35454a;
  height: 350px;
}

.index-form a {
  color: #a9a9a9;
  text-decoration: none;
}

.index-form a:hover {
  color: #fff;
}
/* Google map css needed to make map responsive*/
.map {
  position: relative;
  padding-bottom: 50%;
  height: 0;
  overflow: hidden;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/*--Footer--*/

footer {
  background-color: #35424a;
  color: #fafafa;
  min-height: 120px;
  margin: 0;
  text-align: center;
}

#footer-details {
  padding-top: 10px;
}

i {
  color: #fff;
  margin-top: 15px;
}

i:hover {
  color: #a9a9a9;
  transform: scale(1.5);
}
/*Center the text in the footer*/
.about-footer {
  padding-left: 20px;
}


/*--Media Queries--*/

@media(min-width: 768px) {

  .container-contactform h1 .container-contactform form {
    float: none;
    text-align: center;
    width: 100%;
  }


  .container-contactform button-1 {
    display: block;

  }
  .container-contactform form input[type="email"] {
    width: 77%;
    margin-bottom: 5px;
    margin-top: 8px;
  }

/*Issue with horizontal margin on smaller devices */
  body {
    overflow-x: hidden;
  }
}
